div#positions-page table
{
  position:relative;
  margin-top: 10px;
}

div#positions-page .title
{
  font-size: 10pt;
}

div#positions-page td#positions-box
{
  color: #ffffff;
  background-color: #182b19;
}

div#positions-page td#positions-box .transparent-box {
  background-image: none;
  background-color: #111e12;
  margin-top: 10px;
}

div#positions-page td#positions-box .transparent-box p {
  margin-top: 0px;
}

div#positions-page td#positions-box .transparent-box a#underline {
  color: #ffffff;
  //font-style: italic;
  text-decoration: underline;
}

div#positions-page td#school-box
{
  color: #ffffff;
  background-color: #503d2c;
}

div#positions-page td#school-box .transparent-box {
  background-image: none;
  background-color: #382b1f;
  margin-top: 10px;
}

div#positions-page td#school-box .transparent-box p {
  margin-top: 0px;
}
