.opaque-0
{
filter: alpha(opacity:0.00);
KHTMLOpacity: 0.00;
MozOpacity: 0.00;
-khtml-opacity:0.00;
-ms-filter:"alpha(opacity=0)";
-moz-opacity:0.00;
filter:alpha(opacity=0);
opacity:0.00
}
.opaque-1
{
filter: alpha(opacity:0.01);
KHTMLOpacity: 0.01;
MozOpacity: 0.01;
-khtml-opacity:0.01;
-ms-filter:"alpha(opacity=1)";
-moz-opacity:0.01;
filter:alpha(opacity=1);
opacity:0.01
}
.opaque-2
{
filter: alpha(opacity:0.02);
KHTMLOpacity: 0.02;
MozOpacity: 0.02;
-khtml-opacity:0.02;
-ms-filter:"alpha(opacity=2)";
-moz-opacity:0.02;
filter:alpha(opacity=2);
opacity:0.02
}
.opaque-3
{
filter: alpha(opacity:0.03);
KHTMLOpacity: 0.03;
MozOpacity: 0.03;
-khtml-opacity:0.03;
-ms-filter:"alpha(opacity=3)";
-moz-opacity:0.03;
filter:alpha(opacity=3);
opacity:0.03
}
.opaque-4
{
filter: alpha(opacity:0.04);
KHTMLOpacity: 0.04;
MozOpacity: 0.04;
-khtml-opacity:0.04;
-ms-filter:"alpha(opacity=4)";
-moz-opacity:0.04;
filter:alpha(opacity=4);
opacity:0.04
}
.opaque-5
{
filter: alpha(opacity:0.05);
KHTMLOpacity: 0.05;
MozOpacity: 0.05;
-khtml-opacity:0.05;
-ms-filter:"alpha(opacity=5)";
-moz-opacity:0.05;
filter:alpha(opacity=5);
opacity:0.05
}
.opaque-6
{
filter: alpha(opacity:0.06);
KHTMLOpacity: 0.06;
MozOpacity: 0.06;
-khtml-opacity:0.06;
-ms-filter:"alpha(opacity=6)";
-moz-opacity:0.06;
filter:alpha(opacity=6);
opacity:0.06
}
.opaque-7
{
filter: alpha(opacity:0.07);
KHTMLOpacity: 0.07;
MozOpacity: 0.07;
-khtml-opacity:0.07;
-ms-filter:"alpha(opacity=7)";
-moz-opacity:0.07;
filter:alpha(opacity=7);
opacity:0.07
}
.opaque-8
{
filter: alpha(opacity:0.08);
KHTMLOpacity: 0.08;
MozOpacity: 0.08;
-khtml-opacity:0.08;
-ms-filter:"alpha(opacity=8)";
-moz-opacity:0.08;
filter:alpha(opacity=8);
opacity:0.08
}
.opaque-9
{
filter: alpha(opacity:0.09);
KHTMLOpacity: 0.09;
MozOpacity: 0.09;
-khtml-opacity:0.09;
-ms-filter:"alpha(opacity=9)";
-moz-opacity:0.09;
filter:alpha(opacity=9);
opacity:0.09
}
.opaque-10
{
filter: alpha(opacity:0.10);
KHTMLOpacity: 0.10;
MozOpacity: 0.10;
-khtml-opacity:0.10;
-ms-filter:"alpha(opacity=10)";
-moz-opacity:0.10;
filter:alpha(opacity=10);
opacity:0.10
}
.opaque-11
{
filter: alpha(opacity:0.11);
KHTMLOpacity: 0.11;
MozOpacity: 0.11;
-khtml-opacity:0.11;
-ms-filter:"alpha(opacity=11)";
-moz-opacity:0.11;
filter:alpha(opacity=11);
opacity:0.11
}
.opaque-12
{
filter: alpha(opacity:0.12);
KHTMLOpacity: 0.12;
MozOpacity: 0.12;
-khtml-opacity:0.12;
-ms-filter:"alpha(opacity=12)";
-moz-opacity:0.12;
filter:alpha(opacity=12);
opacity:0.12
}
.opaque-13
{
filter: alpha(opacity:0.13);
KHTMLOpacity: 0.13;
MozOpacity: 0.13;
-khtml-opacity:0.13;
-ms-filter:"alpha(opacity=13)";
-moz-opacity:0.13;
filter:alpha(opacity=13);
opacity:0.13
}
.opaque-14
{
filter: alpha(opacity:0.14);
KHTMLOpacity: 0.14;
MozOpacity: 0.14;
-khtml-opacity:0.14;
-ms-filter:"alpha(opacity=14)";
-moz-opacity:0.14;
filter:alpha(opacity=14);
opacity:0.14
}
.opaque-15
{
filter: alpha(opacity:0.15);
KHTMLOpacity: 0.15;
MozOpacity: 0.15;
-khtml-opacity:0.15;
-ms-filter:"alpha(opacity=15)";
-moz-opacity:0.15;
filter:alpha(opacity=15);
opacity:0.15
}
.opaque-16
{
filter: alpha(opacity:0.16);
KHTMLOpacity: 0.16;
MozOpacity: 0.16;
-khtml-opacity:0.16;
-ms-filter:"alpha(opacity=16)";
-moz-opacity:0.16;
filter:alpha(opacity=16);
opacity:0.16
}
.opaque-17
{
filter: alpha(opacity:0.17);
KHTMLOpacity: 0.17;
MozOpacity: 0.17;
-khtml-opacity:0.17;
-ms-filter:"alpha(opacity=17)";
-moz-opacity:0.17;
filter:alpha(opacity=17);
opacity:0.17
}
.opaque-18
{
filter: alpha(opacity:0.18);
KHTMLOpacity: 0.18;
MozOpacity: 0.18;
-khtml-opacity:0.18;
-ms-filter:"alpha(opacity=18)";
-moz-opacity:0.18;
filter:alpha(opacity=18);
opacity:0.18
}
.opaque-19
{
filter: alpha(opacity:0.19);
KHTMLOpacity: 0.19;
MozOpacity: 0.19;
-khtml-opacity:0.19;
-ms-filter:"alpha(opacity=19)";
-moz-opacity:0.19;
filter:alpha(opacity=19);
opacity:0.19
}
.opaque-20
{
filter: alpha(opacity:0.20);
KHTMLOpacity: 0.20;
MozOpacity: 0.20;
-khtml-opacity:0.20;
-ms-filter:"alpha(opacity=20)";
-moz-opacity:0.20;
filter:alpha(opacity=20);
opacity:0.20
}
.opaque-21
{
filter: alpha(opacity:0.21);
KHTMLOpacity: 0.21;
MozOpacity: 0.21;
-khtml-opacity:0.21;
-ms-filter:"alpha(opacity=21)";
-moz-opacity:0.21;
filter:alpha(opacity=21);
opacity:0.21
}
.opaque-22
{
filter: alpha(opacity:0.22);
KHTMLOpacity: 0.22;
MozOpacity: 0.22;
-khtml-opacity:0.22;
-ms-filter:"alpha(opacity=22)";
-moz-opacity:0.22;
filter:alpha(opacity=22);
opacity:0.22
}
.opaque-23
{
filter: alpha(opacity:0.23);
KHTMLOpacity: 0.23;
MozOpacity: 0.23;
-khtml-opacity:0.23;
-ms-filter:"alpha(opacity=23)";
-moz-opacity:0.23;
filter:alpha(opacity=23);
opacity:0.23
}
.opaque-24
{
filter: alpha(opacity:0.24);
KHTMLOpacity: 0.24;
MozOpacity: 0.24;
-khtml-opacity:0.24;
-ms-filter:"alpha(opacity=24)";
-moz-opacity:0.24;
filter:alpha(opacity=24);
opacity:0.24
}
.opaque-25
{
filter: alpha(opacity:0.25);
KHTMLOpacity: 0.25;
MozOpacity: 0.25;
-khtml-opacity:0.25;
-ms-filter:"alpha(opacity=25)";
-moz-opacity:0.25;
filter:alpha(opacity=25);
opacity:0.25
}
.opaque-26
{
filter: alpha(opacity:0.26);
KHTMLOpacity: 0.26;
MozOpacity: 0.26;
-khtml-opacity:0.26;
-ms-filter:"alpha(opacity=26)";
-moz-opacity:0.26;
filter:alpha(opacity=26);
opacity:0.26
}
.opaque-27
{
filter: alpha(opacity:0.27);
KHTMLOpacity: 0.27;
MozOpacity: 0.27;
-khtml-opacity:0.27;
-ms-filter:"alpha(opacity=27)";
-moz-opacity:0.27;
filter:alpha(opacity=27);
opacity:0.27
}
.opaque-28
{
filter: alpha(opacity:0.28);
KHTMLOpacity: 0.28;
MozOpacity: 0.28;
-khtml-opacity:0.28;
-ms-filter:"alpha(opacity=28)";
-moz-opacity:0.28;
filter:alpha(opacity=28);
opacity:0.28
}
.opaque-29
{
filter: alpha(opacity:0.29);
KHTMLOpacity: 0.29;
MozOpacity: 0.29;
-khtml-opacity:0.29;
-ms-filter:"alpha(opacity=29)";
-moz-opacity:0.29;
filter:alpha(opacity=29);
opacity:0.29
}
.opaque-30
{
filter: alpha(opacity:0.30);
KHTMLOpacity: 0.30;
MozOpacity: 0.30;
-khtml-opacity:0.30;
-ms-filter:"alpha(opacity=30)";
-moz-opacity:0.30;
filter:alpha(opacity=30);
opacity:0.30
}
.opaque-31
{
filter: alpha(opacity:0.31);
KHTMLOpacity: 0.31;
MozOpacity: 0.31;
-khtml-opacity:0.31;
-ms-filter:"alpha(opacity=31)";
-moz-opacity:0.31;
filter:alpha(opacity=31);
opacity:0.31
}
.opaque-32
{
filter: alpha(opacity:0.32);
KHTMLOpacity: 0.32;
MozOpacity: 0.32;
-khtml-opacity:0.32;
-ms-filter:"alpha(opacity=32)";
-moz-opacity:0.32;
filter:alpha(opacity=32);
opacity:0.32
}
.opaque-33
{
filter: alpha(opacity:0.33);
KHTMLOpacity: 0.33;
MozOpacity: 0.33;
-khtml-opacity:0.33;
-ms-filter:"alpha(opacity=33)";
-moz-opacity:0.33;
filter:alpha(opacity=33);
opacity:0.33
}
.opaque-34
{
filter: alpha(opacity:0.34);
KHTMLOpacity: 0.34;
MozOpacity: 0.34;
-khtml-opacity:0.34;
-ms-filter:"alpha(opacity=34)";
-moz-opacity:0.34;
filter:alpha(opacity=34);
opacity:0.34
}
.opaque-35
{
filter: alpha(opacity:0.35);
KHTMLOpacity: 0.35;
MozOpacity: 0.35;
-khtml-opacity:0.35;
-ms-filter:"alpha(opacity=35)";
-moz-opacity:0.35;
filter:alpha(opacity=35);
opacity:0.35
}
.opaque-36
{
filter: alpha(opacity:0.36);
KHTMLOpacity: 0.36;
MozOpacity: 0.36;
-khtml-opacity:0.36;
-ms-filter:"alpha(opacity=36)";
-moz-opacity:0.36;
filter:alpha(opacity=36);
opacity:0.36
}
.opaque-37
{
filter: alpha(opacity:0.37);
KHTMLOpacity: 0.37;
MozOpacity: 0.37;
-khtml-opacity:0.37;
-ms-filter:"alpha(opacity=37)";
-moz-opacity:0.37;
filter:alpha(opacity=37);
opacity:0.37
}
.opaque-38
{
filter: alpha(opacity:0.38);
KHTMLOpacity: 0.38;
MozOpacity: 0.38;
-khtml-opacity:0.38;
-ms-filter:"alpha(opacity=38)";
-moz-opacity:0.38;
filter:alpha(opacity=38);
opacity:0.38
}
.opaque-39
{
filter: alpha(opacity:0.39);
KHTMLOpacity: 0.39;
MozOpacity: 0.39;
-khtml-opacity:0.39;
-ms-filter:"alpha(opacity=39)";
-moz-opacity:0.39;
filter:alpha(opacity=39);
opacity:0.39
}
.opaque-40
{
filter: alpha(opacity:0.40);
KHTMLOpacity: 0.40;
MozOpacity: 0.40;
-khtml-opacity:0.40;
-ms-filter:"alpha(opacity=40)";
-moz-opacity:0.40;
filter:alpha(opacity=40);
opacity:0.40
}
.opaque-41
{
filter: alpha(opacity:0.41);
KHTMLOpacity: 0.41;
MozOpacity: 0.41;
-khtml-opacity:0.41;
-ms-filter:"alpha(opacity=41)";
-moz-opacity:0.41;
filter:alpha(opacity=41);
opacity:0.41
}
.opaque-42
{
filter: alpha(opacity:0.42);
KHTMLOpacity: 0.42;
MozOpacity: 0.42;
-khtml-opacity:0.42;
-ms-filter:"alpha(opacity=42)";
-moz-opacity:0.42;
filter:alpha(opacity=42);
opacity:0.42
}
.opaque-43
{
filter: alpha(opacity:0.43);
KHTMLOpacity: 0.43;
MozOpacity: 0.43;
-khtml-opacity:0.43;
-ms-filter:"alpha(opacity=43)";
-moz-opacity:0.43;
filter:alpha(opacity=43);
opacity:0.43
}
.opaque-44
{
filter: alpha(opacity:0.44);
KHTMLOpacity: 0.44;
MozOpacity: 0.44;
-khtml-opacity:0.44;
-ms-filter:"alpha(opacity=44)";
-moz-opacity:0.44;
filter:alpha(opacity=44);
opacity:0.44
}
.opaque-45
{
filter: alpha(opacity:0.45);
KHTMLOpacity: 0.45;
MozOpacity: 0.45;
-khtml-opacity:0.45;
-ms-filter:"alpha(opacity=45)";
-moz-opacity:0.45;
filter:alpha(opacity=45);
opacity:0.45
}
.opaque-46
{
filter: alpha(opacity:0.46);
KHTMLOpacity: 0.46;
MozOpacity: 0.46;
-khtml-opacity:0.46;
-ms-filter:"alpha(opacity=46)";
-moz-opacity:0.46;
filter:alpha(opacity=46);
opacity:0.46
}
.opaque-47
{
filter: alpha(opacity:0.47);
KHTMLOpacity: 0.47;
MozOpacity: 0.47;
-khtml-opacity:0.47;
-ms-filter:"alpha(opacity=47)";
-moz-opacity:0.47;
filter:alpha(opacity=47);
opacity:0.47
}
.opaque-48
{
filter: alpha(opacity:0.48);
KHTMLOpacity: 0.48;
MozOpacity: 0.48;
-khtml-opacity:0.48;
-ms-filter:"alpha(opacity=48)";
-moz-opacity:0.48;
filter:alpha(opacity=48);
opacity:0.48
}
.opaque-49
{
filter: alpha(opacity:0.49);
KHTMLOpacity: 0.49;
MozOpacity: 0.49;
-khtml-opacity:0.49;
-ms-filter:"alpha(opacity=49)";
-moz-opacity:0.49;
filter:alpha(opacity=49);
opacity:0.49
}
.opaque-50
{
filter: alpha(opacity:0.50);
KHTMLOpacity: 0.50;
MozOpacity: 0.50;
-khtml-opacity:0.50;
-ms-filter:"alpha(opacity=50)";
-moz-opacity:0.50;
filter:alpha(opacity=50);
opacity:0.50
}
.opaque-51
{
filter: alpha(opacity:0.51);
KHTMLOpacity: 0.51;
MozOpacity: 0.51;
-khtml-opacity:0.51;
-ms-filter:"alpha(opacity=51)";
-moz-opacity:0.51;
filter:alpha(opacity=51);
opacity:0.51
}
.opaque-52
{
filter: alpha(opacity:0.52);
KHTMLOpacity: 0.52;
MozOpacity: 0.52;
-khtml-opacity:0.52;
-ms-filter:"alpha(opacity=52)";
-moz-opacity:0.52;
filter:alpha(opacity=52);
opacity:0.52
}
.opaque-53
{
filter: alpha(opacity:0.53);
KHTMLOpacity: 0.53;
MozOpacity: 0.53;
-khtml-opacity:0.53;
-ms-filter:"alpha(opacity=53)";
-moz-opacity:0.53;
filter:alpha(opacity=53);
opacity:0.53
}
.opaque-54
{
filter: alpha(opacity:0.54);
KHTMLOpacity: 0.54;
MozOpacity: 0.54;
-khtml-opacity:0.54;
-ms-filter:"alpha(opacity=54)";
-moz-opacity:0.54;
filter:alpha(opacity=54);
opacity:0.54
}
.opaque-55
{
filter: alpha(opacity:0.55);
KHTMLOpacity: 0.55;
MozOpacity: 0.55;
-khtml-opacity:0.55;
-ms-filter:"alpha(opacity=55)";
-moz-opacity:0.55;
filter:alpha(opacity=55);
opacity:0.55
}
.opaque-56
{
filter: alpha(opacity:0.56);
KHTMLOpacity: 0.56;
MozOpacity: 0.56;
-khtml-opacity:0.56;
-ms-filter:"alpha(opacity=56)";
-moz-opacity:0.56;
filter:alpha(opacity=56);
opacity:0.56
}
.opaque-57
{
filter: alpha(opacity:0.57);
KHTMLOpacity: 0.57;
MozOpacity: 0.57;
-khtml-opacity:0.57;
-ms-filter:"alpha(opacity=57)";
-moz-opacity:0.57;
filter:alpha(opacity=57);
opacity:0.57
}
.opaque-58
{
filter: alpha(opacity:0.58);
KHTMLOpacity: 0.58;
MozOpacity: 0.58;
-khtml-opacity:0.58;
-ms-filter:"alpha(opacity=58)";
-moz-opacity:0.58;
filter:alpha(opacity=58);
opacity:0.58
}
.opaque-59
{
filter: alpha(opacity:0.59);
KHTMLOpacity: 0.59;
MozOpacity: 0.59;
-khtml-opacity:0.59;
-ms-filter:"alpha(opacity=59)";
-moz-opacity:0.59;
filter:alpha(opacity=59);
opacity:0.59
}
.opaque-60
{
filter: alpha(opacity:0.60);
KHTMLOpacity: 0.60;
MozOpacity: 0.60;
-khtml-opacity:0.60;
-ms-filter:"alpha(opacity=60)";
-moz-opacity:0.60;
filter:alpha(opacity=60);
opacity:0.60
}
.opaque-61
{
filter: alpha(opacity:0.61);
KHTMLOpacity: 0.61;
MozOpacity: 0.61;
-khtml-opacity:0.61;
-ms-filter:"alpha(opacity=61)";
-moz-opacity:0.61;
filter:alpha(opacity=61);
opacity:0.61
}
.opaque-62
{
filter: alpha(opacity:0.62);
KHTMLOpacity: 0.62;
MozOpacity: 0.62;
-khtml-opacity:0.62;
-ms-filter:"alpha(opacity=62)";
-moz-opacity:0.62;
filter:alpha(opacity=62);
opacity:0.62
}
.opaque-63
{
filter: alpha(opacity:0.63);
KHTMLOpacity: 0.63;
MozOpacity: 0.63;
-khtml-opacity:0.63;
-ms-filter:"alpha(opacity=63)";
-moz-opacity:0.63;
filter:alpha(opacity=63);
opacity:0.63
}
.opaque-64
{
filter: alpha(opacity:0.64);
KHTMLOpacity: 0.64;
MozOpacity: 0.64;
-khtml-opacity:0.64;
-ms-filter:"alpha(opacity=64)";
-moz-opacity:0.64;
filter:alpha(opacity=64);
opacity:0.64
}
.opaque-65
{
filter: alpha(opacity:0.65);
KHTMLOpacity: 0.65;
MozOpacity: 0.65;
-khtml-opacity:0.65;
-ms-filter:"alpha(opacity=65)";
-moz-opacity:0.65;
filter:alpha(opacity=65);
opacity:0.65
}
.opaque-66
{
filter: alpha(opacity:0.66);
KHTMLOpacity: 0.66;
MozOpacity: 0.66;
-khtml-opacity:0.66;
-ms-filter:"alpha(opacity=66)";
-moz-opacity:0.66;
filter:alpha(opacity=66);
opacity:0.66
}
.opaque-67
{
filter: alpha(opacity:0.67);
KHTMLOpacity: 0.67;
MozOpacity: 0.67;
-khtml-opacity:0.67;
-ms-filter:"alpha(opacity=67)";
-moz-opacity:0.67;
filter:alpha(opacity=67);
opacity:0.67
}
.opaque-68
{
filter: alpha(opacity:0.68);
KHTMLOpacity: 0.68;
MozOpacity: 0.68;
-khtml-opacity:0.68;
-ms-filter:"alpha(opacity=68)";
-moz-opacity:0.68;
filter:alpha(opacity=68);
opacity:0.68
}
.opaque-69
{
filter: alpha(opacity:0.69);
KHTMLOpacity: 0.69;
MozOpacity: 0.69;
-khtml-opacity:0.69;
-ms-filter:"alpha(opacity=69)";
-moz-opacity:0.69;
filter:alpha(opacity=69);
opacity:0.69
}
.opaque-70
{
filter: alpha(opacity:0.70);
KHTMLOpacity: 0.70;
MozOpacity: 0.70;
-khtml-opacity:0.70;
-ms-filter:"alpha(opacity=70)";
-moz-opacity:0.70;
filter:alpha(opacity=70);
opacity:0.70
}
.opaque-71
{
filter: alpha(opacity:0.71);
KHTMLOpacity: 0.71;
MozOpacity: 0.71;
-khtml-opacity:0.71;
-ms-filter:"alpha(opacity=71)";
-moz-opacity:0.71;
filter:alpha(opacity=71);
opacity:0.71
}
.opaque-72
{
filter: alpha(opacity:0.72);
KHTMLOpacity: 0.72;
MozOpacity: 0.72;
-khtml-opacity:0.72;
-ms-filter:"alpha(opacity=72)";
-moz-opacity:0.72;
filter:alpha(opacity=72);
opacity:0.72
}
.opaque-73
{
filter: alpha(opacity:0.73);
KHTMLOpacity: 0.73;
MozOpacity: 0.73;
-khtml-opacity:0.73;
-ms-filter:"alpha(opacity=73)";
-moz-opacity:0.73;
filter:alpha(opacity=73);
opacity:0.73
}
.opaque-74
{
filter: alpha(opacity:0.74);
KHTMLOpacity: 0.74;
MozOpacity: 0.74;
-khtml-opacity:0.74;
-ms-filter:"alpha(opacity=74)";
-moz-opacity:0.74;
filter:alpha(opacity=74);
opacity:0.74
}
.opaque-75
{
filter: alpha(opacity:0.75);
KHTMLOpacity: 0.75;
MozOpacity: 0.75;
-khtml-opacity:0.75;
-ms-filter:"alpha(opacity=75)";
-moz-opacity:0.75;
filter:alpha(opacity=75);
opacity:0.75
}
.opaque-76
{
filter: alpha(opacity:0.76);
KHTMLOpacity: 0.76;
MozOpacity: 0.76;
-khtml-opacity:0.76;
-ms-filter:"alpha(opacity=76)";
-moz-opacity:0.76;
filter:alpha(opacity=76);
opacity:0.76
}
.opaque-77
{
filter: alpha(opacity:0.77);
KHTMLOpacity: 0.77;
MozOpacity: 0.77;
-khtml-opacity:0.77;
-ms-filter:"alpha(opacity=77)";
-moz-opacity:0.77;
filter:alpha(opacity=77);
opacity:0.77
}
.opaque-78
{
filter: alpha(opacity:0.78);
KHTMLOpacity: 0.78;
MozOpacity: 0.78;
-khtml-opacity:0.78;
-ms-filter:"alpha(opacity=78)";
-moz-opacity:0.78;
filter:alpha(opacity=78);
opacity:0.78
}
.opaque-79
{
filter: alpha(opacity:0.79);
KHTMLOpacity: 0.79;
MozOpacity: 0.79;
-khtml-opacity:0.79;
-ms-filter:"alpha(opacity=79)";
-moz-opacity:0.79;
filter:alpha(opacity=79);
opacity:0.79
}
.opaque-80
{
filter: alpha(opacity:0.80);
KHTMLOpacity: 0.80;
MozOpacity: 0.80;
-khtml-opacity:0.80;
-ms-filter:"alpha(opacity=80)";
-moz-opacity:0.80;
filter:alpha(opacity=80);
opacity:0.80
}
.opaque-81
{
filter: alpha(opacity:0.81);
KHTMLOpacity: 0.81;
MozOpacity: 0.81;
-khtml-opacity:0.81;
-ms-filter:"alpha(opacity=81)";
-moz-opacity:0.81;
filter:alpha(opacity=81);
opacity:0.81
}
.opaque-82
{
filter: alpha(opacity:0.82);
KHTMLOpacity: 0.82;
MozOpacity: 0.82;
-khtml-opacity:0.82;
-ms-filter:"alpha(opacity=82)";
-moz-opacity:0.82;
filter:alpha(opacity=82);
opacity:0.82
}
.opaque-83
{
filter: alpha(opacity:0.83);
KHTMLOpacity: 0.83;
MozOpacity: 0.83;
-khtml-opacity:0.83;
-ms-filter:"alpha(opacity=83)";
-moz-opacity:0.83;
filter:alpha(opacity=83);
opacity:0.83
}
.opaque-84
{
filter: alpha(opacity:0.84);
KHTMLOpacity: 0.84;
MozOpacity: 0.84;
-khtml-opacity:0.84;
-ms-filter:"alpha(opacity=84)";
-moz-opacity:0.84;
filter:alpha(opacity=84);
opacity:0.84
}
.opaque-85
{
filter: alpha(opacity:0.85);
KHTMLOpacity: 0.85;
MozOpacity: 0.85;
-khtml-opacity:0.85;
-ms-filter:"alpha(opacity=85)";
-moz-opacity:0.85;
filter:alpha(opacity=85);
opacity:0.85
}
.opaque-86
{
filter: alpha(opacity:0.86);
KHTMLOpacity: 0.86;
MozOpacity: 0.86;
-khtml-opacity:0.86;
-ms-filter:"alpha(opacity=86)";
-moz-opacity:0.86;
filter:alpha(opacity=86);
opacity:0.86
}
.opaque-87
{
filter: alpha(opacity:0.87);
KHTMLOpacity: 0.87;
MozOpacity: 0.87;
-khtml-opacity:0.87;
-ms-filter:"alpha(opacity=87)";
-moz-opacity:0.87;
filter:alpha(opacity=87);
opacity:0.87
}
.opaque-88
{
filter: alpha(opacity:0.88);
KHTMLOpacity: 0.88;
MozOpacity: 0.88;
-khtml-opacity:0.88;
-ms-filter:"alpha(opacity=88)";
-moz-opacity:0.88;
filter:alpha(opacity=88);
opacity:0.88
}
.opaque-89
{
filter: alpha(opacity:0.89);
KHTMLOpacity: 0.89;
MozOpacity: 0.89;
-khtml-opacity:0.89;
-ms-filter:"alpha(opacity=89)";
-moz-opacity:0.89;
filter:alpha(opacity=89);
opacity:0.89
}
.opaque-90
{
filter: alpha(opacity:0.90);
KHTMLOpacity: 0.90;
MozOpacity: 0.90;
-khtml-opacity:0.90;
-ms-filter:"alpha(opacity=90)";
-moz-opacity:0.90;
filter:alpha(opacity=90);
opacity:0.90
}
.opaque-91
{
filter: alpha(opacity:0.91);
KHTMLOpacity: 0.91;
MozOpacity: 0.91;
-khtml-opacity:0.91;
-ms-filter:"alpha(opacity=91)";
-moz-opacity:0.91;
filter:alpha(opacity=91);
opacity:0.91
}
.opaque-92
{
filter: alpha(opacity:0.92);
KHTMLOpacity: 0.92;
MozOpacity: 0.92;
-khtml-opacity:0.92;
-ms-filter:"alpha(opacity=92)";
-moz-opacity:0.92;
filter:alpha(opacity=92);
opacity:0.92
}
.opaque-93
{
filter: alpha(opacity:0.93);
KHTMLOpacity: 0.93;
MozOpacity: 0.93;
-khtml-opacity:0.93;
-ms-filter:"alpha(opacity=93)";
-moz-opacity:0.93;
filter:alpha(opacity=93);
opacity:0.93
}
.opaque-94
{
filter: alpha(opacity:0.94);
KHTMLOpacity: 0.94;
MozOpacity: 0.94;
-khtml-opacity:0.94;
-ms-filter:"alpha(opacity=94)";
-moz-opacity:0.94;
filter:alpha(opacity=94);
opacity:0.94
}
.opaque-95
{
filter: alpha(opacity:0.95);
KHTMLOpacity: 0.95;
MozOpacity: 0.95;
-khtml-opacity:0.95;
-ms-filter:"alpha(opacity=95)";
-moz-opacity:0.95;
filter:alpha(opacity=95);
opacity:0.95
}
.opaque-96
{
filter: alpha(opacity:0.96);
KHTMLOpacity: 0.96;
MozOpacity: 0.96;
-khtml-opacity:0.96;
-ms-filter:"alpha(opacity=96)";
-moz-opacity:0.96;
filter:alpha(opacity=96);
opacity:0.96
}
.opaque-97
{
filter: alpha(opacity:0.97);
KHTMLOpacity: 0.97;
MozOpacity: 0.97;
-khtml-opacity:0.97;
-ms-filter:"alpha(opacity=97)";
-moz-opacity:0.97;
filter:alpha(opacity=97);
opacity:0.97
}
.opaque-98
{
filter: alpha(opacity:0.98);
KHTMLOpacity: 0.98;
MozOpacity: 0.98;
-khtml-opacity:0.98;
-ms-filter:"alpha(opacity=98)";
-moz-opacity:0.98;
filter:alpha(opacity=98);
opacity:0.98
}
.opaque-99
{
filter: alpha(opacity:0.99);
KHTMLOpacity: 0.99;
MozOpacity: 0.99;
-khtml-opacity:0.99;
-ms-filter:"alpha(opacity=99)";
-moz-opacity:0.99;
filter:alpha(opacity=99);
opacity:0.99
}
.opaque-100
{
filter: alpha(opacity:1.00);
KHTMLOpacity: 1.00;
MozOpacity: 1.00;
-khtml-opacity:1.00;
-ms-filter:"alpha(opacity=100)";
-moz-opacity:1.00;
filter:alpha(opacity=100);
opacity:1.00
}
